<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3 class="text-center">Account Login</h3>
            <form method="post" action="/users/login">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required />
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <a href="/users/register" class="btn btn-link">Register</a>
            </form>
        </div>
    </div>
</div>
